In [2]:
# Import required libraries
import numpy as np                  #data handling
import pandas as pd  

import math
import scipy.stats as st            #Statistics

import matplotlib.pyplot as plt     #Visualization

In [3]:
import seaborn as sns

In [7]:
# Lets read the file 
Beer_taste = pd.read_excel("Q5_Beer_Taste.xlsx")
Beer_taste.sample(5)

    Person  Rating
0        1     100
13      14      58
51      52      92
11      12      86
15      16      86

In [8]:
Beer_taste.describe()

          Person     Rating
count  60.000000   60.00000
mean   30.500000   79.75000
std    17.464249   14.50263
min     1.000000   48.00000
25%    15.750000   70.00000
50%    30.500000   81.50000
75%    45.250000   91.25000
max    60.000000  100.00000

In [9]:
# Step 2 : Find the mean and variance 
print("N:", Beer_taste.shape[0])

mean = Beer_taste.Rating.mean()
sd = Beer_taste.Rating.std()
print("Mean rating:", mean, " Std. dev rating:", sd)

N: 60
Mean rating: 79.75  Std. dev rating: 14.502629802433788

Mean(u) = 79.75
std = 14.50 n = 60 alpha = 0.05 x_bar = 76

In [16]:
x_bar = 76
u = 79.75
sigma = 14.50
n = 60
alpha = 0.05
# Null Hypothesis H0 <= 76 (Left tailed Test)
# Alternate Hypothesis Ha > 76 


# possible types "right-tailed, left-tailed, two-tailed"
tail_hypothesis_type = "left-tailed"

if tail_hypothesis_type == "two-tailed":
    alpha /= 2

print("One-Sample", tail_hypothesis_type, "Z-test of true mean")
print("--------------------------------------------------------------------------------------")
# The p-value approach
print("Approach 1: The p-value approach to hypothesis testing in the decision rule")
if n >= 30:
    print("Since sample size >= 30, by CLT ")
    z_score = (x_bar - u)/(sigma/math.sqrt(n))
    p_value = st.norm.cdf(z_score)
    if p_value <= alpha:
        conclusion = "Null Hypothesis is rejected."
        
    print("z-score is:", z_score, " and p value is:", p_value)
    print(conclusion)

One-Sample left-tailed Z-test of true mean
--------------------------------------------------------------------------------------
Approach 1: The p-value approach to hypothesis testing in the decision rule
Since sample size >= 30, by CLT
z-score is: -2.003267248038319  and p value is: 0.022574305476423032
Null Hypothesis is rejected.

# Conclusion to Question Number-4 is : Using a 5% significance level, there is no sufficient evidence to conclude that beer will be a success

# Question Number.5

In [14]:
# Lets read the file 
Lowcalorie_Drink = pd.read_excel("Q6_LowcalorieDrink.xlsx")
Lowcalorie_Drink.sample(5)

     Consumer Gender                Age       Preference
174       175      F       Less than 20        Our brand
70         71      F            Over 60  Competing brand
74         75      F  Between 40 and 60        Our brand
142       143      F  Between 40 and 60  Competing brand
117       118      F  Between 20 and 40  Competing brand

In [15]:
Lowcalorie_Drink.describe()

         Consumer
count  250.000000
mean   125.500000
std     72.312977
min      1.000000
25%     63.250000
50%    125.500000
75%    187.750000
max    250.000000

In [ ]:
# n = 250
# alpha = 0.05

In [17]:
Lowcalorie_Drink.info

<bound method DataFrame.info of      Consumer Gender                Age       Preference
0           1      F            Over 60        Our brand
1           2      F  Between 40 and 60        Our brand
2           3      M  Between 40 and 60        Our brand
3           4      F            Over 60  Competing brand
4           5      M  Between 20 and 40        Our brand
..        ...    ...                ...              ...
245       246      M  Between 40 and 60  Competing brand
246       247      F  Between 20 and 40  Competing brand
247       248      F  Between 40 and 60        Our brand
248       249      M  Between 20 and 40  Competing brand
249       250      M            Over 60  Competing brand

[250 rows x 4 columns]>

In [18]:
Lowcalorie_Drink.groupby('Preference').agg(["count"])

                Consumer Gender   Age
                   count  count count
Preference
Competing brand      116    116   116
Our brand            134    134   134

In [21]:
n = 250
alpha = 0.05
competing_brand = 116/250 
our_brand = 134/250

print("competing brand:", competing_brand, "and our brand is:", our_brand)

competing brand: 0.464 and our brand is: 0.536

In [22]:
if n*competing_brand >= 5 and n*(1-competing_brand) >= 5:
    print("Since n*competing_brand >= 5 and n*(1-competing_brand) >= 5, by CLT ")
    z_score = (competing_brand - our_brand)/math.sqrt((our_brand*(1-our_brand))/n)
    print("Z-score:", z_score)

Since n*competing_brand >= 5 and n*(1-competing_brand) >= 5, by CLT
Z-score: -2.2827645292576846

In [25]:
# As H0 >= 125 and Ha <125 (left Tailed)
p_value = st.norm.cdf(z_score)
print("P Value", p_value)

P Value 0.011222121201274693

##As P value is less than alpha (0.05), we can reject the null hypothesis, so with the 95% confidence level, the claim by Market Manager is proved wrong.